[Unit]
Description=Spusteni str_dlk_ziv_clkm Bokeh pri startu stroje

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/bokeh_str_dlk_ziv_clkm.sh

[Install]
WantedBy=multi-user.target