[Unit]
Description=Spusteni umrtnosti Bokeh pri startu stroje

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/bokeh_umrtnost.sh

[Install]
WantedBy=multi-user.target