[Unit]
Description=Spusteni zeny Bokeh pri startu stroje

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/bokeh_zeny.sh

[Install]
WantedBy=multi-user.target