[Unit]
Description=Spusteni mig_salda Bokeh pri startu stroje

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/bokeh_mig_saldo.sh

[Install]
WantedBy=multi-user.target