[Unit]
Description=Spusteni ukazky Bokeh pri startu stroje

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/bokeh_ukazka.sh

[Install]
WantedBy=multi-user.target