[Unit]
Description=Spusteni prirozeny_prirustek_na_1000 Bokeh pri startu stroje

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/bokeh_prirozeny_prirustek_na_1000.sh

[Install]
WantedBy=multi-user.target